*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}
@mixin flex-coloum($gap:0rem) {
    display: flex;
    flex-direction: column;
    gap: $gap;
}
main{
    width: 100%;

    section.view1{
        width: 100%;
        @include flex-coloum(1rem);
        padding: 1rem;

        h1{
            font-size: 2rem;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            text-transform: uppercase;
        }
    }
}


@media (min-width:786px) {
    
    main{
        width: 100%;
        

        section.view1{
            width: 100%;

            h1{
                font-size: 4rem;
            }
        }
    }
}