*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

@mixin flex-coloum($gap:0rem) {
    display: flex;
    flex-direction: column;
    gap: $gap;
}

@mixin flex-row($gap:0rem) {
    display: flex;
    flex-direction: row;
    gap: $gap;
}

main{
    width: 100%;

    section.view1{
        width: 100%;
        @include flex-coloum(1rem);
        

        h1{
            display: flex;
            justify-content: center;
            font-size: 4rem;

            i{
                font-size: 3rem;
            }

        }
    }

    section.view2{
        width: 100%;
        @include flex-coloum(1rem);

        .all-section{
            width: 100%;

            .photo{
                width: 100%;

                img{
                    width: 100%;
                    padding: 0.5rem;
                    border-radius: 20px;
                }
            }
        }
    }

    section.view3{
        width: 100%;
        @include flex-coloum(1rem);
        align-items: center;
        padding: 1rem;

        h5{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: rgb(51, 51, 51);
            font-size: 1.5rem;
        }

        .text{
            width: 300px;
            text-align: center;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            
        }

        button{
            width: 120px;
            height: 30px;
            background-color: yellow;
            border: none;
            border-radius: 10px;
            text-transform: uppercase;
            
        }

        button:hover{
            cursor: pointer;
            background-color: black;
            color: yellow;
            transition: all 0.3s ease;
        }


    }

    section.view4{
        width: 100%;
        @include flex-row(1rem);
        padding: 1rem;
        .all-section{
            width: 100%;

            .top{
                width: 100%;
                

                .wrap{
                    width: 100%;
                    @include flex-row(1rem);
                    overflow-x: scroll;
                    scroll-behavior: smooth;
                    img{
                        width: 200px;
                        border-radius: 20px;
                    }

                }
            }

            .buttom{
                padding: 1rem;
                h1{
                    text-align: center;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    text-transform: uppercase;
                    padding: 0.3rem;
                }

                p{
                    width: 300px;
                    text-align: center;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    text-transform: capitalize;
                    padding: 0.5rem;
                }

                .line{
                    width: 85vw;
                    height: 0.2vh;
                    background-color: black;
                    justify-content: center;
                }
            }
        }
    }

    section.view5{
        width: 100%;
        @include flex-coloum(1rem);
        

        .all-section{
            width: 100%;

            .top{
                width: 100%;

                h1{
                    text-align: center;
                    padding: 1rem;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                }

                img{
                    width: 50%;
                    border-radius: 30px;
                    padding: 1rem;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    max-width: 100%;
                    height: auto;
                }
            }

            .buttom{
                width: 100%;
                padding: 1rem;

                h1{
                    text-align: center;
                    font-size: 1.5rem;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                }

                p{
                    text-align: center;
                    font-size: 0.7rem;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    padding: 0.5rem;
                }

                .line{
                    width: 85vw;
                    height: 0.2vh;
                    background-color: black;
                }
            }
        }
    }

    section.view6{
        width: 100%;
        @include flex-coloum(1rem);
        

        .all-section{
            width: 100%;

            .top{
                width: 100%;

                h1{
                    text-align: center;
                    padding: 1rem;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                }

                img{
                    width: 50%;
                    border-radius: 30px;
                    padding: 1rem;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    max-width: 100%;
                    height: auto;
                }
            }

            .buttom{
                width: 100%;
                padding: 1rem;

                h1{
                    text-align: center;
                    font-size: 1.5rem;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                }

                p{
                    text-align: center;
                    font-size: 0.7rem;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    padding: 0.5rem;
                }

                .line{
                    width: 85vw;
                    height: 0.2vh;
                    background-color: black;
                }
            }
        }
    }

    section.view7{
        width: 100%;
        @include flex-coloum(1rem);
        

        .all-section{
            width: 100%;

            .top{
                width: 100%;

                h1{
                    text-align: center;
                    padding: 1rem;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                }

                img{
                    width: 50%;
                    border-radius: 30px;
                    padding: 1rem;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    max-width: 100%;
                    height: auto;
                }
            }

            .buttom{
                width: 100%;
                padding: 1rem;

                h1{
                    text-align: center;
                    font-size: 1.5rem;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                }

                p{
                    text-align: center;
                    font-size: 0.7rem;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    padding: 0.5rem;
                }

                .line{
                    width: 85vw;
                    height: 0.2vh;
                    background-color: black;
                }
            }
        }
    }

    section.view8{
        @include flex-coloum(1.5rem);
        width: 100%;
        align-items: center;
        .all-section{
            width: 100%;

            .top{
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 1rem;

                img{
                    width: 250px;
                    border-radius: 30px;
                    
                }
            }

            .buttom{
                width: 100%;
                align-items: center;
                
                h5{
                    text-align: center;
                    font-size: 1.5rem;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    text-transform: capitalize;
                }

                h1{
                    text-align: center;
                    font-size: 1.6rem;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    text-transform: capitalize;
                }

                .button{
                    width: 100%;
                    align-items: center;
                    justify-content: center;
                    padding: 1rem;
                    text-align: center;
                    button{
                        padding: 1rem;
                        width: 120px;
                        background-color: yellow;
                        border: none;
                        border-radius: 10px;
                    }

                    button:hover{
                        background-color: black;
                        color: yellow;
                        cursor: pointer;
                        transition: all 0.3s ease;
                    }
                }
            }
        }
    }

    section.view9{
        width: 100%;
        @include flex-coloum(1rem);
        text-align: center;

        .all-section{
            width: 100%;

            .top{
                width: 100%;

                img{
                    width: 330px;
                    border-radius: 30px;
                }
            }

            .buttom{
                width: 100%;
                padding: 1rem;
                .last{
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;

                    h1{
                        text-transform: capitalize;
                        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    }

                    button{
                        width: 120px;
                        background-color: yellow;
                        border: none;
                        border-radius: 10px;
                        text-transform: uppercase;
                    }

                    button:hover{
                        background-color: black;
                        color: yellow;
                        transition: all 0.3s ease;
                        cursor: pointer;

                    }
                }
            }
        }
        
    }
}




@media (min-width:786px) {
    main{
        text-transform: capitalize;
        section.view1{
            width: 100%;


            h1{
                display: flex;
                justify-content: center;
                font-size: 9rem;



                i{
                    font-size: 7rem;
                }
            }
        }

        section.view2{
            width: 100%;
            align-items: center;
            

            .all-section{
                width: 100%;

                .photo{
                    width: 100%;

                    img{
                        width: 100%;
                        padding: 2rem;
                        border-radius: 50px;
                    }
                }
            }
        }

        section.view3{
            width: 100%;

            h5{
                font-size: 2rem;
            }

            .text{
                width: 600px;

                p{
                    font-size: 2rem;
                }
            }
        }

        section.view4{
            width: 100%;

            .all-section{
                width: 100%;

                .top{
                    width: 100%;

                    .wrap{
                        width: 100%;
                        img{
                            width: 300px;
                        }
                    }
                }

                .buttom{
                    width: 100%;
                    text-align: center;
                    h1{
                        font-size: 2rem;
                    }

                    p{
                        width: 100%;
                        font-size: 1.5rem;
                    }

                    .line{
                        width: 95vw;
                    }
                }
            }
        }

        section.view5{
            width: 100%;

            .all-section{
                width: 100%;
                padding: 1.5rem;

                .top{
                    width: 100%;

                    h1{
                        font-size: 3.4rem;
                        padding: 1rem;
                    }

                    img{
                        width: 200px;
                        padding: 1rem;
                    }
                }


                .buttom{
                    width: 100%;

                    h1{
                        font-size: 3rem;
                    }

                    p{
                        font-size: 2rem;
                    }

                    .line{
                        width: 95vw;
                    }
                }
            }
        }

        section.view6{
            width: 100%;

            .all-section{
                width: 100%;
                padding: 1.5rem;

                .top{
                    width: 100%;

                    h1{
                        font-size: 3.4rem;
                        padding: 1rem;
                    }

                    img{
                        width: 200px;
                        padding: 1rem;
                    }
                }


                .buttom{
                    width: 100%;

                    h1{
                        font-size: 3rem;
                    }

                    p{
                        font-size: 2rem;
                    }

                    .line{
                        width: 95vw;
                    }
                }
            }
        }

        section.view7{
            width: 100%;

            .all-section{
                width: 100%;
                padding: 1.5rem;

                .top{
                    width: 100%;

                    h1{
                        font-size: 3.4rem;
                        padding: 1rem;
                    }

                    img{
                        width: 200px;
                        padding: 1rem;
                    }
                }


                .buttom{
                    width: 100%;

                    h1{
                        font-size: 3rem;
                    }

                    p{
                        font-size: 2rem;
                    }

                    .line{
                        width: 95vw;
                    }
                }
            }
        }

        section.view8{
            width: 100%;

            .all-section{
                width: 100%;

                .top{
                    width: 100%;

                    img{
                        width: 500px;
                    }
                }

                .buttom{
                    width: 100%;

                    h5{
                        font-size: 3rem;
                    }

                    h1{
                        font-size: 2.6rem;
                    }
                }
            }
        }

        section.view9{
            width: 100%;

            .all-section{
                width: 100%;

                .top{
                    width: 100%;

                    img{
                        width: 50vw;
                    }
                }
            }
        }
    }
}